<!DOCTYPE html>
<html>
  <head>
    <title>WeatherSpot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,501,700&display=swap" rel="stylesheet"> %>
    <%= stylesheet_link_tag "https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,501,700,900&display=swap", "data-turbo-track": "reload" %>
    <%# <link rel="preload" href="Mona-Sans.woff2" as="font" type="font/woff2" crossorigin> %>

  </head>
    <%# remove style="background-image: url('https://images.unsplash.com/photo-1541119638723-c51cbe2262aa?q=80&w=2673&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')"  bg-gradient-to-tr from-sky-50 via-cyan-200 to-sky-400%>
  <body class="bg-no-repeat bg-cover bg-center h-lvh " style="background-image: url('https://images.unsplash.com/photo-1558418294-9da149757efe?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')" data-controller="location" data-location-key=<%=ENV["WEATHER_KEY"]%> data-location-client=<%=ENV["SPOTIFY_CLIENT_ID"]%> data-location-secret= <%=ENV["SPOTIFY_CLIENT_SECRET"]%>>
    <%= render "shared/navbar" %>
      <main class="container mx-auto mt-28 px-5">
      
      
        <%= yield %>
      </main>
      <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
  </body>
</html>
